.layerSpa {
    background-color: #F8F8F1;
    width: 100%;
    max-height: 100%;
    min-height: 910px;

}

.SpaNavbar {
    width: 100%;
    height: 100%;
    position: relative;
}


.Spabody {
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 930px;
    display: flex;
    flex-direction: row;
    position: static;
    top: 10px;
}

.SpabodyLeft {
    width: 50%;
    max-height: 100%;
    min-height: 930px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.SpabodyLeftTop {
    width: 100%;
    max-height: 50%;
    min-height: 50%;
    background-color: #F8F8F1;
    display: flex;
    flex-direction: row;
}

.SpabodyLeftTopLeft {
    width: 50%;
    max-height: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SpaboxCutting {
    width: 65%;
    height: 70%;
    background-color: aliceblue;
    border-radius: 5%;
    border: 5px;
    box-shadow: 0px 0px 0px 2px #adf3f4,
        15px 15px 0px 0px #6cb3b4;
    object-fit: cover;
    background-image: url("../../assets/Cutting.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: end;
    justify-content: center;





}

.SpaboxCutting img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 15px;

}

.SpaboxCutting button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    color: #6cb3b4;
    font: 200% bolder;

}


.SpaboxCutting:hover {
    width: 70%;
    height: 75%;
}

.SpabodyLeftTopRight {
    width: 50%;
    max-height: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SpaboxShower {
    width: 65%;
    height: 70%;
    background-color: aliceblue;
    border-radius: 5%;
    border: 5px;
    box-shadow: 0px 0px 0px 2px #adf3f4,
        15px 15px 0px 0px #6cb3b4;
    object-fit: cover;
    cursor: pointer;
    background-image: url("../../assets/bath.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: end;
    justify-content: center;


}

.SpaboxShower img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 15px;

}


.SpaboxShower button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    color: #6cb3b4;
    font: 200% bolder;

}


.SpaboxShower:hover {
    width: 70%;
    height: 75%;
}


.SpabodyLeftBottom {
    width: 100%;
    max-height: 50%;
    min-height: 50%;
    display: flex;
    flex-direction: row;
    background-color: #F8F8F1;
}

.SpabodyLeftBottomLeft {
    width: 50%;
    max-height: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SpaTapShowState {
    width: 50%;
    min-height: 60px;
    max-height: 50%;
    background-color: aliceblue;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 150% bolder;
    box-shadow: 0px 0px 0px 2px #adf3f4,
        0px 0px 5px 5px #6cb3b4;
}

.SpabodyLeftBottomRight {
    width: 50%;
    max-height: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.SpaboxBoth {
    width: 65%;
    height: 70%;
    background-color: aliceblue;
    border-radius: 5%;
    border: 5px;
    box-shadow: 0px 0px 0px 2px #adf3f4,
        15px 15px 0px 0px #6cb3b4;
    object-fit: cover;
    cursor: pointer;
    background-image: url("../../assets/both.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: end;
    justify-content: center;


}

.SpaboxBoth img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: 15px;

}


.SpaboxBoth button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    color: #6cb3b4;
    font: 200% bolder;

}

.SpaboxBoth:hover {
    width: 70%;
    height: 75%;
}

.SpabodyRight {
    width: 50%;
    max-height: 100%;
    min-height: 930px;
    background-color: #F8F8F1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.SpabodyRightBox {
    width: 93%;
    height: 90%;
    background-color: #FFFFEA;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 2px #adf3f4,
        10px 10px 0px 0px #8ECDDD,
        15px 15px 0px 0px #8ECDDD,
        20px 20px 0px 0px #8ECDDD,
        25px 25px 0px 0px #8ECDDD,
        30px 30px 0px 0px #8ECDDD,
        35px 35px 0px 0px #8ECDDD;
}



.SpabodyRightBoxHead{
 width: 100%;
 height: 10%;
 display: flex;
 flex-direction: row;
    
}


.SpabodyRightBoxHeadTitle{
    width: 55%;
    min-height: 70px;
   
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    font: 200% bolder;
    
}

.SpatoDisplaySpa{
    max-width: 40%;
    min-width: 40%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
    font: 150% bolder;

    
}

.SpatoDisplaySpa a{
    border-radius: 15px;
    background-color: #adf3f4;
    width: 50%;
    height: 60%;
    border: 2px solid #8ECDDD ;
    box-shadow: 0px 0px 10px 1px #adf3f4;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;


    
}

.SpatoDisplaySpa button:hover{
   
    background-color: #FFFFEA;

    border: 2px solid #ffffff ;
    box-shadow: 0px 0px 10px 1px #babcbd;
    color: #adf3f4;

    
}

.SpabodyRightTop{
    width: 100%;
    height: 80%;
    
    display: flex;
    flex-direction: row;
}

.SpabodyRightTopLeft{
    width: 45%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: end;
  
}

.SpabodyRightTopLeftBox{
    width: 90%;
    height: 100%;

    margin-top: 5%;
    font: 160% bolder;
}

.SpabodyRightTopRigth{
    width: 55%;
    height: 100%;
   
}

.SpabodyRightTopLeftBox p{
   margin-top: 5%;
   margin-bottom: 5%;

}

.SpaSelectpetname{
    width: 60%;
    height: 5%;
    border-radius: 10px;
    text-align: center;
    border: 1px solid black;

}

.SpaServiceDate{
    width: 70%;
    height: 5%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    border: 1px solid black;
}
.Spaboxweight{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.Spaboxweight input{
    width: 40%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    border: 1px solid black;
}

.Spaboxprice{
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Spaboxprice input{
    width: 36%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    text-align: center;
    border: 1px solid black;
}

.Spaboxfieldcomment{
    width: 90%;
    height: 30%;
    border-radius: 10px;
    resize: none;
    border: 1px solid black;
}

.SpaboxPhotoPets{
    margin-top: 10%;
    width: 100%;
    height: 50%;
    object-fit: cover;
    background-image: url("../../assets/pets.jpg");
    background-repeat: no-repeat;
    background-repeat: fixed;
    background-size: contain;
}

.SpaButtonSummit{
    width: 100%;
    height: 50%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.SpaButtonSummit button{
   background-color: #8ECDDD;
   width: 40%;
   height: 20%;
   font: 190% bolder;
   border-radius: 15px;
   box-shadow: 0px 0px 0px 2px #88d3d4,
   10px 10px 0px 0px #81d5ea;
}

.SpaButtonSummit button:hover{
  background-color: #b6dee8;
  box-shadow: 0px 0px 0px 2px #88d3d4,
  10px 10px 0px 0px #5eacc0;

 }