/* styles.css */
@import url('https://rsms.me/inter/inter.css');

.font-inter {
  font-family: 'Inter', sans-serif;
}

.containerStyle{
  background: url(../../assets/bg-foot.png);
  background-size: cover;
  background-position: center;
  object-fit: cover;
}